<header class="tj-header-area header-absolute">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
                <div class="logo-box">
                    <a href="/">
                        <img src="img/logos/logo.svg" width="60px" height="60px" alt="Logo de Felipe Dueñas">
                    </a>
                </div>
                <div class="header-info-list d-none d-md-inline-block">
                    <ul class="ul-reset">
                        <li><a href="/">FELIPE DUEÑAS</a></li>
                    </ul>
                </div>
                <div class="header-menu" id="headerMenu">
                    <nav>
                        <ul>
                            <li class="<%= path === '/' ? 'current-menu-item' : '' %>">
                                <a href="/">Inicio</a>
                            </li>
                            <li class="<%= path === '/about' ? 'current-menu-item' : '' %>">
                                <a href="/about">Acerca de Mí</a>
                            </li>

                            <li class="<%= path === '/services' ? 'current-menu-item' : '' %>">
                                <a href="/services">Servicios</a>
                            </li>
                            <li class="<%= path === '/contact' ? 'current-menu-item' : '' %>">
                                <a href="/contact">Contacto</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-menu d-lg-none"></div>
                <div class="header-button">
                    <a href="https://wa.me/573224838289" target="_blank" class="btn tj-btn-primary">Escríbame</a>
                </div>
                <div class="menu-bar d-lg-none">
                    <button type="button" aria-label="Menú">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="tj-header-area header-2 header-sticky sticky-out">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
                <div class="logo-box">
                    <a href="/">
                        <img src="img/logos/logo.svg" width="60px" height="60px" alt="Logo de Felipe Dueñas">
                    </a>
                </div>
                <div class="header-info-list d-none d-md-inline-block">
                    <ul class="ul-reset">
                        <li><a href="/">Felipe Dueñas</a></li>
                    </ul>
                </div>
                <div class="header-menu">
                    <nav>
                        <ul>
                            <li class="<%= path === '/' ? 'current-menu-item' : '' %>">
                                <a href="/">Inicio</a>
                            </li>
                            <li class="<%= path === '/about' ? 'current-menu-item' : '' %>">
                                <a href="/about">Acerca de Mí</a>
                            </li>
                            <li class="<%= path === '/services' ? 'current-menu-item' : '' %>">
                                <a href="/services">Servicios</a>
                            </li>
                            <li class="<%= path === '/contact' ? 'current-menu-item' : '' %>">
                                <a href="/contact">Contacto</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-menu d-lg-none"></div>
                <div class="header-button">
                    <a href="https://wa.me/573224838289" target="_blank" class="btn tj-btn-primary">Escríbame</a>
                </div>
                <div class="menu-bar d-lg-none">
                    <button type="button" aria-label="Menú">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>