<!-- HERO SECTION START -->
<section class="hero-section style-2 d-flex align-items-center" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-wrrapper wow fadeInUp" data-wow-delay=".4s">
                    <div class="hero-image-box d-none d-md-inline-block">
                        <img src="img/profile/felipe-duenas.webp" alt="Foto de Felipe Dueñas"/>
                    </div>
                    <div class="hero-content-box">
                        <h1 class="hero-title">Hola, soy Felipe<br/>SSr Backend Developer</h1>
                        <div class="hero-image-box d-md-none text-center">
                            <img src="img/profile/felipe-duenas-mobile.webp" alt="Foto de Felipe Dueñas"/>
                        </div>
                        <p class="lead">
                            Convierto desafíos técnicos en soluciones eficientes y escalables. ¡Así de simple!
                        </p>
                        <div class="button-box d-flex flex-wrap align-items-center">
                            <a href="https://calendly.com/felipe_dm9" target="_blank" class="tj-btn-primary-2">
                                Solicite una cita
                                <span class="icon_box">
                                    <i class="fa-solid fa-calendar icon_first"></i>
                                    <i class="fa-solid fa-calendar icon_second"></i>
                                </span>
                            </a>
                            <ul class="ul-reset social-icons style-2">
                                <li>
                                    <a href="https://www.linkedin.com/in/felipedm9/" target="_blank">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=61560993760236" target="_blank">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/felipe_dm9/" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.threads.net/@felipe_dm9" target="_blank">
                                        <i class="fa-brands fa-threads"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="funfact-area style-2">
                    <div class="funfact-item wow fadeInUp" data-wow-delay=".3s">
                        <div class="funfact-icon">
                            <i class="flaticon-trophy"></i>
                        </div>
                        <div class="number"><span class="odometer" data-count="90">0</span>%</div>
                        <div class="text">Tasa de Efectividad</div>
                    </div>
                    <div class="funfact-item wow fadeInUp" data-wow-delay=".4s">
                        <div class="funfact-icon">
                            <i class="flaticon-suitcase"></i>
                        </div>
                        <div class="number"><span class="odometer" data-count="2">0</span>+</div>
                        <div class="text">Años de Experiencia</div>
                    </div>
                    <div class="funfact-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="funfact-icon">
                            <i class="flaticon-menu"></i>
                        </div>
                        <div class="number"><span class="odometer" data-count="3">0</span>+</div>
                        <div class="text">Empresas Satisfechas</div>
                    </div>
                    <div class="funfact-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="funfact-icon">
                            <i class="flaticon-crown"></i>
                        </div>
                        <div class="number"><span class="odometer" data-count="3">0</span>+</div>
                        <div class="text">Proyectos Registrados</div>
                    </div>
                </div>
                <div class="about-area">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="about-left-content wow fadeInUp" data-wow-delay=".3s" style="">
                                <h2 class="title">Mi Aporte</h2>
                                <div class="desc">
                                    <p class="lead">
                                        Desarrollador y defensor del código abierto, autor de tres productos digitales
                                        registrados en la DNDA del Ministerio del Interior de Colombia. Miembro activo
                                        de diversas comunidades, donde comparto conocimiento y
                                        contribuyo al avance del sector tecnológico del país.
                                    </p>
                                </div>
                                <div class="about-button d-flex">
                                    <a href="https://github.com/felipe-duenas" target="_blank"
                                       class="btn tj-btn-primary-2">
                                        Proyectos Libres
                                        <span class="icon_box">
                                            <i class="fa-brands fa-github icon_first"></i>
                                            <i class="fa-brands fa-github icon_second"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="about-right-content wow fadeInUp" data-wow-delay=".5s" style="height: 100%">
                                <div class="about-text">
                                    <h5 class="title">Proyectos Libres (Proximamente)</h5>
                                    <div class="desc">
                                        <p>
                                            Iniciativas de código abierto para resolver problemas tecnológicos,
                                            promoviendo el acceso libre al conocimiento.
                                        </p>
                                    </div>
                                </div>
                                <div class="about-images mx-auto mt-4" style="width: 12rem;">
                                    <img class="mt-2" src="img/characters/developer.svg" alt="Vector de Programador"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HERO SECTION END -->

<!-- SKILLS SECTION START -->
<section class="skills-section style-2" id="skills-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header style-2 text-center">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">Mis Habilidades</h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        Especialidades
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="skills-widget style-2 d-flex flex-wrap justify-content-center align-items-center">
                    <% data.skills.forEach(skill => { %>
                        <div class="skill-item wow fadeInUp" data-wow-delay=".7s">
                            <div class="skill-inner">
                                <div class="icon-box">
                                    <img src="img/skills/<%= skill.icon %>" alt=""/>
                                </div>
                                <div class="number"><%= skill.percentage %></div>
                            </div>
                            <p><%= skill.name %></p>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SKILLS SECTION END -->

<!-- SPECIALIZATION SECTION START -->
<section class="specialization-section" id="services-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header style-2">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".4s">Servicios</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <% data.services.forEach(service => { %>
                <div class="col-lg-6">
                    <div class="specialization-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="specialization-icon">
                            <span>
                                <i class="<%= service.icon %>"></i>
                            </span>
                        </div>
                        <div class="specialization-content">
                            <h4 class="title">
                                <button data-mfp-src="#service-wrapper" class="modal-popup">
                                    <%= service.title %>
                                </button>
                            </h4>
                            <div class="desc">
                                <p><%= service.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</section>
<!-- SPECIALIZATION SECTION END -->

<!-- WORKS SECTION START -->
<section class="works-section" id="resume-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header style-2">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".4s">Experiencia y Educación</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="works-content-area wow fadeInUp" data-wow-delay=".8s">
                    <div class="works-content-item">
                        <h6 class="title">Experiencia</h6>
                        <div class="works-content-box">
                            <% data.work_experience.forEach(job => { %>
                                <div class="works-item">
                                    <h5 class="title"><%= job.role %></h5>
                                    <h6 class="sub-title"><%= job.company %></h6>
                                    <span><%= job.date %></span>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    <div class="works-content-item">
                        <h6 class="title">Educación</h6>
                        <div class="works-content-box">
                            <% data.education.forEach(education => { %>
                                <div class="works-item">
                                    <h5 class="title"><%= education.role %></h5>
                                    <h6 class="sub-title"><%= education.company %></h6>
                                    <span><%= education.date %></span>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- WORKS SECTION END -->

<!-- BRAND SECTION START -->
<section class="brand-section" style="margin-top: 8rem;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header style-2">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">
                        Algunas de las marcas con las que trabajo
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper brand-slider">
                    <div class="swiper-wrapper">
                        <% data.brands.forEach(brand => { %>
                            <div class="swiper-slide mx-auto">
                                <div class="d-flex justify-content-center">
                                    <div class="brand-item wow fadeInUp" data-wow-delay=".4s">
                                        <a href="<%= brand.link %>" target="_blank">
                                            <img src="img/brands/<%= brand.icon %>" width="100rem" alt="Images"/>
                                        </a>
                                        <p class="text-center mt-2"><%= brand.name %></p>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BRAND SECTION END -->

<!-- CONTACT SECTION START -->
<section class="contact-section style-2" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-content-area">
                    <div class="contact-form-box order-2 order-md-1 wow fadeInLeft" data-wow-delay=".3s">
                        <div class="section-header">
                            <h2 class="section-title text-center">
                                ¡Trabajemos&nbsp;Juntos!
                            </h2>
                            <p>
                                Contácteme y cuénteme sus ideas para que juntos las transformemos en sistemas robustos y
                                eficientes
                            </p>
                        </div>
                        <div class="tj-contact-form style-2">
                            <form id="contact-form">
                                <div class="form_group">
                                    <label for="name_id"></label>
                                    <input type="text"
                                           id="name_id"
                                           name="name"
                                           placeholder="Nombre"
                                           autocomplete="off"
                                    />
                                </div>
                                <div class="form_group">
                                    <label for="surname_id"></label>
                                    <input type="text"
                                           id="surname_id"
                                           name="surname"
                                           placeholder="Apellido"
                                           autocomplete="off"
                                    />
                                </div>
                                <div class="form_group">
                                    <label for="email_id"></label>
                                    <input type="email"
                                           id="email_id"
                                           name="email"
                                           placeholder="Email"
                                           autocomplete="off"
                                    />
                                </div>
                                <div class="form_group">
                                    <label for="number_phone_id"></label>
                                    <input type="tel"
                                           id="number_phone_id"
                                           name="number_phone"
                                           placeholder="Número"
                                           autocomplete="off"
                                    />
                                </div>
                                <div class="form_group">
                                    <label for="message_id"></label>
                                    <textarea id="message_id"
                                              name="message"
                                              placeholder="Escriba su mensaje..."></textarea>
                                </div>
                                <div class="form_btn">
                                    <button type="submit" class="btn tj-btn-primary">Enviar Email</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="contact-info-list-2 order-1 order-md-2">
                        <div class="desc wow fadeInRight" data-wow-delay=".3s">
                            <p>
                                Actualmente estoy disponible para asumir nuevos proyectos, así que siéntase libre de
                                enviarme un mensaje sobre cualquier cosa que quiera consultarme. Puede contactarme en
                                cualquier momento, las 24 horas del día, los 7 días de la semana.
                            </p>
                        </div>
                        <ul class="ul-reset contact-info-list-3">
                            <li class="wow fadeInRight" data-wow-delay=".3s">
                                <a href="tel:573224838289"><%= data.personal.phone %></a>
                            </li>
                            <li class="wow fadeInRight" data-wow-delay=".4s">
                                <a href="mailto:felipeduenas0@gmail.com"><%= data.personal.email %></a>
                            </li>
                            <li class="wow fadeInRight" data-wow-delay=".5s">
                                <p>
                                    <%= data.personal.location %>
                                </p>
                            </li>
                        </ul>
                        <ul class="ul-reset social-icons style-3 wow fadeInRight" data-wow-delay=".6s">
                            <li>
                                <a href="https://www.linkedin.com/in/felipedm9/" target="_blank">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=61560993760236" target="_blank">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/felipe_dm9/" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.threads.net/@felipe_dm9" target="_blank">
                                    <i class="fa-brands fa-threads"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT SECTION END -->